.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--box-color);
  width: 880px;
  height: 620px;
  margin-top: 50px;
  border-radius: 10px;
}


