.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--box-color);
  width: 100%;
  max-width: 880px;
  min-height: 90vh;
  margin: 40px;
  border-radius: 10px;
}

.botao {
  display: flex;
  justify-content: center;
}

.botao-calcular {
  background-color: var(--button-color);
  color: var(--text-color);
  font-family: var(--text-font-family);
  font-size: 18px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 30px;
}

.botao-calcular:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.resultado-calculo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  font-family: var(--text-font-family);
}

.colunas {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.coluna {
  text-align: left;
}